*,
*::before,
*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
html,body{
    height: 100%;
    font-size: 16px;
    line-height: 1;
    color: #10375E;
    font-weight: 400;
    font-family: Montserrat;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
._container {
    max-width: 1440px;
    margin: 0px auto;
    /* background: rgb(29, 29, 202) 20%; */
    
}
.header {
    
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    margin-bottom: 80px;
    
}
/*--------------- шапка------------ */
.header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
    
}
.header__menu{
    padding: 0px 0px 0 140px;
    
}   
.menu_link {
   font-weight: 400;
    text-align: center;
    font-size: 16px;
    line-height: 84px; 
}
.menu__list {
    display: flex;  
    justify-content:center;
}
.menu__item {
    margin: 0px 64px 0 30px;    
}
/* --------конткнт 1 блок---------- */
.page {
    height: 900px;
    background: #ffffff;
    width: 100%;
   
}
.main-block__container {
    position: relative;
    display: block;
}
.main_block_history {
    display: inline-block;
    position: absolute;
    z-index: 9;
    width: 507px;
    text-align: left;
    margin: 109px 0 0 55px;
}
.main_block_history h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 5px;
}
.main_block_history p {
    font-size: 20px;
    line-height: 32px;
    margin-top: 16px;
}

.main_block_history button {
    background: #FEA02F;
    border-radius: 8px;
    width: 285px;
    height: 52px;
    margin-top: 32px;
}
.main_block_history a {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color:#ffffff;
}

.foto {
    width: 444px;
    height: 392px;
    float: right;
    border-radius: 8px; 
    margin: 165px 0 0 20px;
    z-index: 3;
    position: relative;
    right: 140px;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.25));
}  
/* ---круги и формы-------- */
.form {
   
}
.vector_1 {
    position: absolute;
    Top: -21px;
    right: -3px;
    z-index: 2;
}
.vector_2 {
    position: absolute;
    top: 286px;
    right: 100px;
}
.vector_5 {
    position: absolute;
    z-index: 2;
    top: -38px;
    left: -6px;
}
.vector_6 {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: -4px;
}
.circle_1 {
    position: absolute;
    z-index: 4 ;
}
.circle_2 {
    position: absolute;
    z-index: 4 ;
    top: -31px;
    right: 279px;
}
.circle_3 {
    position: absolute;
    z-index: 4 ;
    top: 375px;
    right: 525px;
}
.circle_4 {
    position: absolute;
    z-index: 4 ;
    top: 379px;
    right: -5px;
}
/* -----2 блок------ */
.section_1 {
    
}
.section_1_block {
    background: #E0E2D57D;
    display: block;
    position: relative;
    height: 962px;
    
}
.section_1_foto {
  
}
.foto_2 {
    width: 485px;
    height: 640px;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    display: flex;
    float: left;
    position: absolute;
    top: 156px;
    left: 100px;
}
.section_1_right {
    display: block;
    float: right;
    width: 590px;
    position: absolute;
    right: 81px;
    top: 145px;
}
.section_1_right p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 31px;
    float: right;
    display: block;
    text-align: left;
}
.section_1_right h2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 15px;
}
.circle_5 {
    position: absolute;
    top: -159px;
    
}
.circle_6 {
    position: absolute;
    bottom: -16px;
    right: 10px;
   
}
.circle_7 {
    position: absolute;
    top: -66px;
    right: 133px;
}
/* ----моя история---- */
.section_2_block {
    position: relative;
    height: 932px;
}
.section_2_left {
    display: block;
    width: 590px;
    margin-top: 164px;
    position: relative;
    z-index: 9;
    left: 87px;
}
.section_2_left p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    z-index: 8;
    position: relative;

}
.section_2_left h2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 24px;
}
.section_2_left button {
    width: 285px;
    height: 52px;
    background: #FEA02F;
    border-radius: 8px; 
}
.section_2_left a {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF; 
}
.circle_8 {
    position: absolute;
    top: 50px;
    left: -85px;
    z-index: 4;
}
.vector_9 {
    position: absolute;
    top: 113px;
    left: -86px;
    z-index: 2;
}
.vector_7 {
    position: absolute;
    top: -35px;
   right: 1px;
    z-index: 2;
}
.vector_8 {
     position: absolute;
     top: 73px;
   right: 1px;
}
.circle_9 {
     position: absolute;
     z-index: 3;
     top: 97px;
     right: -103px;
}
.circle_10 {
     position: absolute;
     z-index: 5;
     top: 395px;
     right: 374px;
}
.chart_1 {
     position: absolute;
     z-index: 4;
     top: 256px;
     right: 326px;
}
.chart_2 {
     position: absolute;
     z-index: 4;
     top: 57px;
     right: 182px;
}
.chart_3 {
     position: absolute;
     right: 47px;
     bottom: 360px;
    z-index: 4;
}
/* ----3 block---- */
.section_3 {
   position: relative;
   
   
}
.section_3_container {
    height: 968px;
    background: rgba(224, 226, 213, 0.49);
}
.section_3_block {
    position: relative;
   
}
.section_3_left {
    
    display: inline-block;
}
.section_3_left h3 {
    font-size: 31px;
    line-height: 39px;
    text-align: left;
    margin-left: 108px;
    padding-top: 134px;
}
.vector_10{
    position: absolute;
    top: 210px;
    left: 19px;
    z-index: 0;
}
.vector_11{
     position: absolute;
     top: 454px;
    left: -12px;
}
.circle_11 {
     position: absolute;
     z-index: 3;
     top: 485px;
     left: 61px;
}
.circle_12 {
     position: absolute;
     z-index: 3;
     top: 731px;
     left: -7px;
}
.circle_13 {
    position: absolute;
    right: 10px;
    top: 700px;
    z-index: 3;
}
.house {
     position: absolute;
     left: 357px;
     z-index: 3;
     top: 393px;
}
.bmv {
     position: absolute;
     z-index: 4;
     top: 202px;
     left: 71px;
}
.trevel {
     position: absolute;
     z-index: 3;
     top: 600px;
     left: 76px;
}
.auto {
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    top: 263px;
    left: 336px;
   position: absolute;
}
.flat {
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    text-align: left;
    z-index: 4;
    position: absolute;
    top: 471px;
    left: 100px;
}
.journey {
    z-index: 4;
    position: absolute;
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    top: 678px;
    left: 373px;
}
.section_3_right {
    width: 590px;
    float: right;
   position: absolute;
   top: 18px;
   right: 69px;
}
.section_3_right h2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 54px;
    padding: 127px 0 31px 0;
   
}
.section_3_right p {
    font-size: 20px;
    line-height: 32px;
    
}
/---section_4---/

.section_4 {
    position: relative;
   
}
.section_4_block_right {
   
    
}
.section_4_container {
    background: #05647A;
}
.section_4_block {
    height: 620px;
    
    color: #FFFFFF;
}
.section_4_block_left {
   width: 587px;
   position: absolute;
   margin: 100px 0 0 84px;

}
.section_4_block_left h2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.section_4_block_left p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 26px;
}
.section_4_block_left button {
    width: 285px;
    height: 52px;
    background: #FEA02F;
    border-radius: 8px;
}



@media (max-width: 1750px) {

}
@media (max-width: 1199px) {
    .section_1_right p {
        width: 400px;
    }
    .section_1_right h2 {
        margin-left: 183px;
    }
    
    
    .header__menu {
        padding: 0px;
    }
    .main_block_history {
        margin: 0px 0 0 30px;
    }
    .foto {
        width: 429px;
        height: 387px;
        float: right;
        border-radius: 8px;
        margin: 151px 0 0px 0px;
        z-index: 3;
        position: relative;
        right: 0px;
        filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.25));
    }
    .foto_2 {
        width: 474px;
        height: 612px;
        filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.25));
        border-radius: 8px;
        display: flex;
        float: left;
        position: absolute;
        top: 156px;
        left: 14px;
    }
    .section_1_right {
        display: block;
        float: right;
        width: 590px;
        position: absolute;
        right: 30px;
        top: 145px;
    }
    .section_3_left h3 {
        font-size: 31px;
        line-height: 39px;
        text-align: left;
        margin-left: 49px;
        padding-top: 116px;
    }
    .section_3_right h2 {
        font-weight: 500;
        font-size: 41px;
        line-height: 45px;
        padding: 96px 0px 30px 115px;
    }
    .section_3_right {
        width: 500px;
        float: right;
        position: absolute;
        top: 18px;
        right: 5px;
    }
    
    
}
@media (max-width: 992px) {
    .header__menu {
        padding: 0px;
    }
    .main_block_history {
        margin: 0px 0 0 30px;
    }
    .foto {
        width: 429px;
        height: 387px;
        float: right;
        border-radius: 8px;
        margin: 151px 0 0px 0px;
        z-index: 3;
        position: relative;
        right: 0px;
        filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.25));
    }
    .foto_2 {
        width: 474px;
        height: 612px;
        filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.25));
        border-radius: 8px;
        display: flex;
        float: left;
        position: absolute;
        top: 156px;
        left: 14px;
    }
    .section_1_right {
        display: block;
        float: right;
        width: 590px;
        position: absolute;
        right: 30px;
        top: 145px;
    }
    .section_3_left h3 {
        font-size: 31px;
        line-height: 39px;
        text-align: left;
        margin-left: 49px;
        padding-top: 116px;
    }
    .section_3_right {
        width: 500px;
        float: right;
        position: absolute;
        top: 18px;
        right: 5px;
    }
    .section_3_right h2 {
        font-weight: 500;
        font-size: 41px;
        line-height: 45px;
        padding: 96px 0px 30px 115px;
    }
}
@media (max-width: 767px) {

}
@media (max-width: 576px) {

}